{% extends '_base.html' %}




{% block pageTitle %} ali page {% endblock pageTitle %}


{% block content %}

    {% for show in show_list %}
        <div class="card">
            <div class="title"><a href='{% url 'show_all_comment' show.id %}'>{{ show.title }} </a></div>
            <div class="bottom"> {{ show.text }} </div>
            {% if user.is_authenticated %}
                <div id="edit">
                    <a href="{% url  'view_update' show.id %}"> edit</a>
                    <a href="{% url  'delete' show.id %}"> delete</a>
                </div>
            {% endif %}
        </div>


    {% endfor %}

{% endblock content %}



